
html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

input:focus {
  outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
p{
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
  
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* CSS Color variales */
:root {
  --primary : #24A1FD; 
  --primary2: #35C0ED;
  --primary3: #79DAE8;
  --primary4: #E8F9FD; 
  --primary5: #08376B; 



  --light : #607D9B; 

  --red1: #F45C43;;

  --page-color :#EEF8FF;

  --shadow : rgba(149, 157, 165, 0.2) 0px 8px 24px;

  /* css font variables */
  --extra-big-heading : 60px ; 
  --big-heading : 42px ;
  --h1-heading : 34px;
  --h2-heading : 28px;
  --h3-heading : 24px;
  --h4-heading : 20px;

  --normal-font-size : 18px; 
  --bread-crumb : 12.5px;

  --small-text : 12px;
  --highlight-text : 32px; 
}

.pageTitle{
  color: red;
}

.container{
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
/* Desktop View */
@media screen  and (max-width:1280px){
  .container{
          max-width: 95%;
          margin-right: auto;
          margin-left: auto;
  }
}
/* Tablet View - Desktop View */
@media screen  and (max-width:1080px){
  .container{
          width: 95%;
          margin-right: auto;
          margin-left: auto;
  }
  
}
/* Mobile View */
@media screen  and (max-width:768px){
  :root {

    /* css font in tablet */
    --extra-big-heading : 35px ; 
    --big-heading : 34px ;
    --h1-heading : 30px;
    --h2-heading : 24px;
    --h3-heading : 18px;
    --h4-heading : 16px;

    --normal-font-size : 16px; 
    --bread-crumb : 12px;

    --small-text : 12px;
    --highlight-text : 24px; 
  }
  .container{
          width: 95%;
          margin-right: auto;
          margin-left: auto;
  }
}



.floating{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  cursor: pointer;
  z-index: 100;
}
.floating_icon_container{
  background-color: var(--primary);
  padding: 10px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  color: #fff;
  box-shadow: var(--shadow);
}
.floating_text{
  padding: 10px;
  box-shadow: var(--shadow);
  border-radius: 30px;
  background-color: rgba(255,255,255,1);
  margin-right: 10px;
}
.floating_icon{
  font-size: var(--h1-heading);
  color: greenyellow;
  font-weight: bold;
}


/* ------------Icon------------------- */
.fa-heart{
  color: #8b8c8c;
}
.redcolor{
color: #EB3349 !important;
}
.wishhover:hover{
  color: #EB3349
}
i.fa-ellipsis{
  display: flex;
  justify-content: center;
  color: #8b8c8c;
}

.goback{
  margin-top: 0.5rem;
  color: #24A1FD;
}
.location{
  margin-top: 0.5rem;
}
table, th, td {
  border: 1px solid rgb(197, 193, 193);
  border-collapse: collapse;
}
th, td {
  padding: 15px 0px 5px 20px;
  text-align: left;
}
#flexCheckDefault{
border-color: #24A1FD;
}
#flexRadioDefault1{
  border-color: #24A1FD;
  }
.addwish{
  font-size:1.2rem;
}
.fa-caret-down{
  margin-left: 4px;
}



/*---------------------- Navbar global CSS---------------- */
.fa-bell, .fa-magnifying-glass{
  color: #08376B;
font-size: 1.3rem;
}
.fa-angle-right{
  margin-left: 3px;
}
.fa-user{
  background-color: white;
    border-radius: 100rem;
    height: 30px;
    width: 30px;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    padding: 5px 0px 0px 7px;
}
.fa-user::before , .fa-house-chimney{
  margin-right: 2rem;
}
.search{
  padding: 10px 2px 10px 10px;
  font-size: 1rem;
  width: 100%;
  border-radius: 2rem;
  border: 2px solid #08376B
}
ul li .nav_link{
  display: block;
    margin: -35px 0px 0px 58px;
}
@media only screen and (max-width: 977px) {
  .search{
  width: 80%;
  }
}
.fa-car-side{
color: white;
}

/*--------------- CARD Global CSS ---------------------*/

#main-slider-container{
  width: 100%;
  height: 22rem;
  margin-top: 1rem;
  background: rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-items: center;
}
#cartmain-slider-container{
  width: 100%;
  height: 24rem;
  margin-top: 4rem;
  background: rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-items: center;
}
#slider{
  width: 100%;
  height: 21rem;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#slider::-webkit-scrollbar{
  display: none;
}
#sslider{
  width: 100%;
  height: 21rem;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#sslider::-webkit-scrollbar{
  display: none;
}
#cartslider{
  width: 100%;
  height: 24rem;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#cartslider::-webkit-scrollbar{
  display: none;
}
#scartslider{
  width: 100%;
  height: 24rem;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#scartslider::-webkit-scrollbar{
  display: none;
}
.slider-icon.left,.slider-icon.right{
background:#54b8ff;
font-size: 1.5rem;
border-radius: 100%;
opacity: 0.7;
margin-top: 0.5rem;
position: absolute;
box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
cursor: pointer;
}
.slider-icon.left{
  left: 0;
  margin-top: 1rem;
}
.slider-icon.right{
  right: 0;
}
.slider-icon.left:hover,.slider-icon.right:hover{
opacity: 1;
}
.slider-card{
  width: 320px;
  height: 325px;
  background: white;
  border-radius: 5px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
}
.cartslider-card{
  width: 320px;
  height: 358px;
  background: white;
  border-radius: 5px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
}



/*-------------------- Crousel Css -----------------*/
.crousel{
display: flex; 
margin-top: 1rem; 
max-width: 535px;
margin-left: 1rem; 
justify-content: center; 
}
.prevbtn{
  background: #54b8ff;
  font-size: 1rem;
  border-radius: 99%;
  opacity: 0.7;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
  cursor: pointer;
  width: 2rem;
  margin-top: 11rem;
  height: 1.3rem;
}
.btnnext{
      background: #54b8ff;
    font-size: 1rem;
    border-radius: 99%;
    opacity: 0.7;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
    cursor: pointer;
    width: 2rem;
    margin-top: 10rem;
    height: 1.3rem; 
}
.mapscroll{
  overflow-x: scroll;
}  
.mapscroll::-webkit-scrollbar{
  display: none;
}  
.divimg{
  overflow: hidden; 
position: relative; 
width: 70vw; 
height: 22rem; 
z-index: -1;
border-radius: 0.75rem; 
border-width: 2px; 
display: flex;
}
.mapimg{
  display: flex; 
padding: 1rem;  
margin-left: 1rem; 
justify-content: center; 
width: 100%; 
border-width: 4px; 
}
.smallimg{
  margin-left: 0.5rem;
}
.ert{
  padding-bottom: 1rem; 
width: 5rem; 
height: 5rem; 
border-bottom-width: 8px; 
}
.bod{
  border-color: #7F1D1D; 
}
.gf{
  border-color: #FBBF24; 
opacity: 0.7; 
}
.gh{
  object-fit: contain; 
position: absolute; 
z-index: 20; 
padding: 1rem; 
width: 100%; 
transform: scale(1.2);
height: 100%; 
}
.jh{
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
transition-duration: 500ms; 
transition-timing-function: linear; 
--transform-translate-x: -100%; 
}
.kh{
  object-fit: contain; 
  position: absolute; 
  z-index: 0; 
  padding: 1rem; 
  width: 100%; 
  height: 100%; 
}
.mj{
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
transition-duration: 500ms; 
transition-timing-function: linear; 
--transform-translate-x: 100%; 
}
.crouselslider{
  width: 320px;
  height: 325px;
  background: white;
  border-radius: 5px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
}
.carouselitem {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 100%;
  scroll-snap-align: start;
}

@media (width > 600px) {
  .carouselitem.active p {
    opacity: 1;
    transform: scale(1.1) translateY(-40px);
  }
  .caruoselitem p {
    opacity: 0;
  }
}
.dropdown{
  position: absolute;
  background-color: white;
  margin-left: 0.4rem;
  padding: 15px;
  }