
html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
p{
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
  
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  display: none;
}
/* CSS Color variales */
:root {
  --primary : #24A1FD; 
  --primary2: #35C0ED;
  --primary3: #79DAE8;
  --primary4: #E8F9FD; 



  --light : #607D9B; 

  --red1: #F45C43;;

  --page-color :#EEF8FF;

  --shadow : rgba(149, 157, 165, 0.2) 0px 8px 24px;

  /* css font variables */
  --extra-big-heading : 60px ; 
  --big-heading : 42px ;
  --h1-heading : 34px;
  --h2-heading : 28px;
  --h3-heading : 24px;
  --h4-heading : 20px;

  --normal-font-size : 18px; 
  --bread-crumb : 12.5px;

  --small-text : 12px;
  --highlight-text : 32px; 
}

.pageTitle{
  color: red;
}

.container{
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
/* Desktop View */
@media screen  and (max-width:1280px){
  .container{
          max-width: 95%;
          margin-right: auto;
          margin-left: auto;
  }
}
/* Tablet View - Desktop View */
@media screen  and (max-width:1080px){
  .container{
          width: 95%;
          margin-right: auto;
          margin-left: auto;
  }
  
}
/* Mobile View */
@media screen  and (max-width:768px){
  :root {

    /* css font in tablet */
    --extra-big-heading : 35px ; 
    --big-heading : 34px ;
    --h1-heading : 30px;
    --h2-heading : 24px;
    --h3-heading : 18px;
    --h4-heading : 16px;

    --normal-font-size : 16px; 
    --bread-crumb : 12px;

    --small-text : 12px;
    --highlight-text : 24px; 
  }
  .container{
          width: 95%;
          margin-right: auto;
          margin-left: auto;
  }
}



.floating{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  cursor: pointer;
  z-index: 100;
}
.floating_icon_container{
  background-color: var(--primary);
  padding: 10px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  color: #fff;
  box-shadow: var(--shadow);
}
.floating_text{
  padding: 10px;
  box-shadow: var(--shadow);
  border-radius: 30px;
  background-color: rgba(255,255,255,1);
  margin-right: 10px;
}
.floating_icon{
  font-size: var(--h1-heading);
  color: greenyellow;
  font-weight: bold;
}


/* ------------Icon------------------- */
.fa-heart{
  color: #8b8c8c;
}
.redcolor{
color: #EB3349 !important;
}
.wishhover:hover{
  color: #EB3349
}
i.fa-ellipsis{
  display: flex;
  justify-content: center;
  color: #8b8c8c;
}

.goback{
  margin-top: 0.5rem;
  color: #24A1FD;
}
.location{
  margin-top: 0.5rem;
}
table, th, td {
  border: 1px solid rgb(197, 193, 193);
  border-collapse: collapse;
}
th, td {
  padding: 15px 0px 5px 20px;
  text-align: left;
}
#flexCheckDefault{
border-color: #24A1FD;
}
#flexRadioDefault1{
  border-color: #24A1FD;
  }
.addwish{
  font-size:1.2rem;
}
.fa-caret-down{
  margin-left: 4px;
}



/*---------------------- Navbar global CSS---------------- */
.fa-bell, .fa-magnifying-glass{
  color: #08376B;
font-size: 1.3rem;
}
.fa-angle-right{
  margin-left: 3px;
}
.fa-user{
  background-color: white;
    border-radius: 100rem;
    height: 30px;
    width: 30px;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    padding: 5px 0px 0px 7px;
}
.fa-user::before , .fa-house-chimney{
  margin-right: 2rem;
}
.search{
  padding: 10px 2px 10px 10px;
  font-size: 1rem;
  width: 100%;
  border-radius: 2rem;
  border: 2px solid #08376B
}
ul li .nav_link{
  display: block;
    margin: -35px 0px 0px 58px;
}
@media only screen and (max-width: 977px) {
  .search{
  width: 80%;
  }
}
.fa-car-side{
color: white;
}










