.colorpage{
  width: 100vw;
  height: max-content;
  background-color: var(--page-color);
  padding: 1rem 0  3rem 0;
  display: flex;
  align-items: center;
}
.page{
  width: 100vw;
  display: flex;
  align-items: center;
  height: max-content;
  background-color: #fff;
  padding: 1rem 0  1rem 0;
}





/* Home 1st page View */
.home_container{
  display: flex;
  justify-content: space-evenly;
  width: 97vw;
  min-height: max-content;
  margin-right: auto;
  margin-left: auto;
}
.home_box{
  display: flex;
  justify-content: space-evenly;
  width: 97vw;
  height: 80vh; 
  margin-right: auto;
  margin-left: auto;
  padding: 2rem 10px;
  margin-top: 2rem;
  position: relative;
}
.top_title{
  font-size: var(--h3-heading);
  margin: 0;
  font-weight: 300;
}
.top_big{
  padding: 0;
  font-weight: 400;
  font-size: var(--extra-big-heading);
}
.bottom_title{
  font-weight: 400;
  font-size: var(--h1-heading);
  color: var(--primary2);
}

.text_blue{
  color: var(--primary);
}
.text_center{
  text-align: center;
}
.home_left{
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column; 
}
.left_title_box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.graytext{
  color: #84838E;
}
.left_img_box{
  height: 400px;
  width: 800px;
  position: relative;
}

.home_right{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_container{
  background-color: rgba(36, 161, 253, 0.05);
  border-radius: 20px;
  padding: 10px;
  height: 550px;
  width: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: var(--shadow);
  gap: 1.5rem;
}


.page_title{
  color: var(--primary);
  font-size: var(--big-heading);
  margin: 2rem 0;
}
.home_button{
  color: #fff;
  font-size: var(--h3-heading);
  font-weight: 400;

  width: 242px;
  height: 68px;
  background:var(--primary);
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 61px;
}
.or_box{
  width: 80%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.line{
  width: calc(100%/1.5);
  height: 1px;
  background-color: #84838E;
}
.or{
  font-size: var(--h3-heading);
  color: var(--light);
}
.lighttext{
  color: var(--light);
}
.bottom_right{
  margin: 1rem 0;
  font-weight: 300;
  width: 80%;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}


.card_container{
  width: 100%;
  display: flex;
  gap: 1.5rem;
  overflow-x: scroll;
}
.single_card{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: calc(100%/3 - 20px);
  height: 400px;
  box-shadow: var(--shadow);
  padding: 3rem 1rem;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
.card_title{
  text-align: center;
  font-size: var(--h1-heading);
  color : var(--red1); 
  margin-bottom: 1rem;
}
.card_description{
  font-size: var(--normal-font-size);
  color: '#111';
  line-height: 30px;
  text-align: center;
}

.blog_title.howitworks{
   text-align: center;
   color: var(--red1);
}
.blog_desc.howitworks{
  text-align: center;
  font-size: var(--normal-font-size);
}


/* Home Cards */
.home_card_container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 2rem 0;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}
.home_card{
  width: calc(100%/3 - 10px);
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 1rem ;
  height: 180px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home_card_top{
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: space-between;

}
.home_card_image_container{
  width: 50%;
  height: 60px;
  position: relative;
}
.home_card_title{
  color: var(--primary);
  font-weight: 500;
  font-size: var(--h2-heading);
}
.home_card_bottom{
  padding-top: 10px;
}
.home_card_description{
  font-weight: 400;
  font-size: var(--normal-font-size);
}

/* Category */
.category_card_container{
  display: flex;
  overflow: auto;
}
.category_card_container::-webkit-scrollbar{
  height: 0;
}
.category_card{
  height: max-content;
  width: 220px;
  margin: 1rem 10px ;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.category_image_container{
  position: relative;
  height: 90px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .category_name_container{
  padding:10px;
}
.category_name{
  font-weight: 400;
  text-align: center;
  font-size: var(--h3-heading);
} */


/* Testimonials */
.card_container.testimonial{
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 10px;

}
.testimonial .single_card{
  margin: 5px 10px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: max-content;
}
.testimonial .blog_title{
  font-size: var(--h3-heading);
  padding-bottom: 20px;
}
.testimonial .blogTop{
  width: 100%;
  padding: 0;
  margin: 0;
  height: 200px;
  width: 350px;
}

/* contact section  */
.page_subtitle{
  font-size: var(--normal-font-size);
  font-weight: 400;
}
.contact_container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_box{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid var(--light);
  width: 50%;
  height:350px;
  margin: 10px;
  padding: 1rem 10px ;
}
.contact_title_container{
  padding: 1rem;
}
.contact{
  display: flex;
  height: max-content;
  padding-top: 10px;
}
.contact_icon_container{
  display: flex;
  width: 20%;
}
.contact_icon_container i{
  font-size: var(--h1-heading);
  color: var(--red1);
  padding: 10px;
  border-radius: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border: 1px solid var(--light);
}
.contact_details{
  width: 80%;
  height: max-content;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}
.text_red{
  color: var(--red1);
}
.contact_field{
  font-size: var(--h2-heading);
  font-weight: 500;
}
.contact_text{
  font-size: var(--h3-heading);
  color: var(--light);
}
.contact_highlight{
  font-size: var(--h2-heading);
}
.contact_details_2{
  display: flex;
  margin-top: 2rem;
  height: auto;
  align-items: center;
  justify-content: center;
}
.contact_extra{
  display: flex;
  flex-direction: column;
}
.contact_image_container{
  height: 100%;
  width: 100%;
  position: relative;
}
.contact_extra .button{
  margin: 0 0 2.5rem 0;
}
.image{
  height: 100%;
  width: 100%;
}
.contact_extra{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact_text_small{
  font-size: var(--normal-font-size);
}

@media screen  and (max-width:1280px){
  .container{
          width: 95vw;
          margin-right: auto;
          margin-left: auto;
  }
  .left_img_box{
    width: 650px;
  }
}
@media screen  and (max-width:1080px){
  .container{
          width: 95vw;
          margin-right: auto;
          margin-left: auto;
  }
  .card_container{
    min-width: 100% ;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
  }
  .single_card{
    min-width: calc(100%/2 - 20px); 
  }
  .left_img_box{
    width: 450px;
  }
  .category_card{
    min-width: calc(100%/4 - 20px);
  }
  .testimonial .blogTop{
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .contact_icon_container i{
    font-size: var(--h2-heading);
    height: 30%;

  }
  
}
@media screen  and (max-width:968px){
  .container{
          width: 95vw;
          margin-right: auto;
          margin-left: auto;
          padding: 0;
  }
  .card_container{
    min-width: 100%;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
  }
  .single_card{
    margin: .75rem ;
    min-width: calc(100%/2 - 20px);
    height: 430px;
  }
  .home_card{
    min-width: calc(100%/2 - 20px);
  }
  .left_img_box{
    width: 400px;
    height: 250px;
  }
  .category_card{
    min-width: calc(100%/2 - 5px);
  }
  .contact_container{
      flex-direction: column;
  }
}
@media screen  and (max-width:768px){
  .container{
          max-width: 98vw;
          margin-right: auto;
          margin-left: auto;
  }
  .card_container{
    min-width: 100%;
    overflow: auto;
    gap: 5px; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .vertical_container{
    overflow: visible;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .single_card{
    min-width:  min(  360px  , calc(100%/1.2 - 20px) );
    height: 400px;
    padding: 1rem 10px;
  }
  .home_card{
    min-width:  min(  360px  , calc(100%/1.2 - 20px) );
  }
  .vertical_container .single_card{
    min-width:  min(  360px  , calc(100%/1 - 10px) );

  }
  .testimonial .single_card{
    margin: 10px;
    padding: 5px 0;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

  }
  .page_title{
    text-align: center;
  }
  .home_right , .home_left{
    position: absolute;
    top: 1rem;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 0;

  }
  .left_img_box{
    display: felx;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 200px;
  }
  .left_title_box{
    margin-top: -5rem;
  }
  .home_box{
    margin-top: 3rem;
  }
  .home_card_container{
    margin-top: 1rem;
    flex-wrap: wrap;
  }
  /* .category_card{
    width: calc(100%/1 - 5px);
    border-radius: 50%;
    height: auto;
    overflow: hidden;
    aspect-ratio: 1/1;
  } */
  .tow_cont{
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .category_image_container{
    height: 95px;
    font-size: 14px;
  }
  .category_name_container{
    height: auto;
  }
  .category_name{
    font-size: var(--normal-font-size);
    padding: 0 2px;
    font-size: 14px;
  }

  .contact_box{
    height: max-content;
    width: 100%;
    background: rgba(217, 217, 217, 0.3);
  }
  .contact_field{
    font-size: var(--h4-heading);
  }
  .contact_text{
    font-size: var(--h6-heading);
  }
  .contact_icon_container i{
    font-size: var(--h2-heading);
    height: 50%;

  }
  .contact_details_2{
    display: felx;
    flex-direction: column;
  }
  .contact_extra .button{
    margin-top: 1rem;
  }
  
}
.card_container::-webkit-scrollbar{
  width:0;
  height: 0;
}
