
.order_container{
  width: 100%;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-right: 5%;
}
.headpageLink{
  margin-top: 4rem;
}
.upper_section{
  display: flex;
  justify-content: space-between;
}
.lower_section{
  display: flex;
  justify-content: space-between;
}
.Img{
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 20%;
  width: 20rem;
}
.left_lower_container{
  display: flex;
  height: fit-content;
}
.pass{
  display: flex;
}
.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  border-radius: 35px;
  background-color: #18C749;
  margin-right: 5%;
}
.tick{
  color: white;
  align-content: center;
  font-size: 30px;
  font-weight: bolder;
  margin: auto;
}
.rightlower{
  margin-right: 1vw;
}
.rightlower .tracking{
  position: relative;
  
}
.order_title_container
{
width: 35vw;
}

.left_lower{
  display: inline;
}
.order_Detail{
  margin-top: 200px;
}

.left_lower{
  width: 50%;
}
.order_top{
  display: flex;
  height:25vh;
  width: 55vw;
  align-items: center;
  justify-content: space-between;

}
.detailbox{
  display: flex;
  justify-content: space-between;

}
.detailbox1{
  display: flex;
  justify-content: space-between;

}
.detailright{
  margin-right: 4rem;
}
.order_image_container{
  width: 20vw;
  height: 10rem;
  position: relative;
}
.order_heading{
  font-size: var(--h2-heading);
  color: var(--primary);
}
.order_info{
  font-size:15px;
}
.textcontent{
  margin-bottom: 2rem;
}
.order_price{
  font-weight: bold;
  font-size: var(--h4-heading);
}
.order_billing, .order_shipping{
  font-size: var(--h4-heading);
  color: #08376B;
  margin-bottom: 0.6rem;
}
@media screen  and (max-width:650px){
  .upper_section, .lower_section{
    flex-direction: column;
  }
  .rightlower .tracking::after{
    z-index: -1;
  }
  .left_lower{
    width: 100%;
  }
}
.header{
  margin-top: 2rem;
  margin-left: 2rem;
  
}
.header a{
  margin-left: 2rem;
}
.activeorder{
  border-bottom: 5px solid #24A1FD;
  border-radius: 2px;
}
.pageLink{
  margin-top: 1rem;
  color:  #08376B;
}
.confirmation{
  display: flex;
  max-width: 1280px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.5rem;
  margin-left: auto;
  height: 100%;
  margin-right: auto;
  margin-bottom: 5rem;
}
.mobconfirmation{
  display: flex;
  max-width: 1280px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.5rem;
  margin-left: auto;
  height: 100%;
  margin-right: auto;
  margin-bottom: 5rem;
}
.confirmationLeft{
  width: 100%;
  margin-right: 2%;
}
.delivaryEstimate{
  display: flex;
  width: 100%;
  height: 25%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.estimateImg{
  
  width: 50%;
  height: 90%;
}
.estimateDetails{
  margin-left: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5rem;
  width: 55%;
}
.content {
  width: 100%;
	position: relative;
	margin-left: 1rem;
}
.producttitle{
	color: #24A1FD;
}
.bold{
  font-weight: bolder;
}
  
.container {
  padding: 48px;
  height: fit-content;
  display: flex;
  margin-right: 5vw; 
  flex-direction: column;
  justify-content: center;
}
.group {
  padding: 8px 48px;
  margin: 8px;
}
.checkbox {
  display: none;
}
.checklabel {
  position: relative;
}
.checklabel::before {
  content: "";
  background: url("/check-circle.svg");
  background-position: center;
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  left: -44px;
  top: -3px;
  transform: scale(0) rotateZ(180deg);
  transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}
.checkbox:checked + .checklabel::before {
  transform: scale(1) rotateZ(0deg);
}
.checklabel::after {
  content: "";
  border: 2px solid #27ae60;
  width: 27px;
  height: 27px;
  position: absolute;
  left: -42px;
  top: 0px;
  border-radius: 50%;
}
.detailbox{
  margin-top: 1rem;
  display: flex;
  width: fit-content;
  justify-content: space-between;
  }
  .detailright{
   margin-right: 5rem;
  }
  .detailright ul li{
    margin-bottom: 12px;
  }
  .detailleft ul li{
    margin-bottom: 12px;
  }

.infor{
  color: black;
  width: 50vw;
 
}
.trackContainer h2{
margin-left: 16vw;
}
.infors{
  color: black;
  width: 20vw;
  margin-left:-1vw;
  margin-top: -3vw;
}

.timeline {
  width: 8vw;
  height: auto;
  max-width: 800px;
  position: relative;
} 


@media screen and (max-width:648px){
  .order_top{
    width: 95vw;
  }
  .order_image_container{
    width: 45vw;
  }
  .order_title_container{
    width: 50vw;
  }
  .detailbox{
    width: 90vw;
  }
  .detailbox1{
    margin-bottom: 1rem;
  }
}
@media screen and (max-width:290px){
.order_top{
margin-bottom: 1rem;
}
}