.wrapcontainer{
  width: 1280px;
  margin: auto;
  }
.display{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
padding: 2px;
}
.pagetitle{
  margin-left: 6rem;
  font-size: 1rem;
}
.doubtbtn{
  background-color: #24A1FD;
  color: white;
  padding: 5px 15px;
  font-size: 1.2rem;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: none;
}
.button {
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:1.6rem;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #24A1FD;
  border-radius: 30px;
}

.pricep{
  color: #00ab30;
  font-size: 1.9rem;
  list-style: none;
  font-weight: 600;
}

.Title{
margin-left: 4rem;
color: rgb(0, 67, 149);
}
.card {
background-color: white;
border-radius: 0.25rem;
display: flex;
flex-direction: column;
overflow: hidden;
align-items: center;

}
.backcard {
  
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  height: 50rem;
  width: 107rem;
  transform: scale(1.5);
}
.ton,.pricep,.card_tex{
  font-size: large; 
}

.cards {
display: flex;
flex-wrap: wrap;
list-style: none;
margin: 0;
padding: 0;
justify-content: space-between;
}
.cards_item {
display: flex;
padding: 1rem;
font-size: 20px;

}
.enquire{
color: #24A1FD;
font-size: large;
}
.middlesection{
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 2px;
width: 90%;
margin: auto;
font-size: 1rem;
}
.description{
height: fit-content;
display: block;
width: 80%;
margin-right: 1rem;
margin-top: 1.5rem;
margin-left: 5rem;
}
.table{
height: fit-content;
width: 32rem;
margin-bottom: 4rem;

}
.piccontainer{
  display: flex;
  flex-direction: row;
}
.card_title {
  color: #24A1FD;
  font-size: 44px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}


.carouselindicators {
  position: absolute;
  right: -80rem;
  bottom: -10rem;
  left: 0rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 16%;
  margin-bottom: 0.4rem;
  margin-left: 15%;
  list-style: none;
}
.carouselindicators li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(127, 127, 127, 0.993);
  border: 1px solid #fff;
  border-radius: 20px;

}
.carouselindicators .dot1,.dot2{
  margin-left: 1rem;
}

.Product{
  position: relative;
}
.bottom_right_detail{
  background-color: rgba(132, 131, 142, 0.1);
  position: absolute;
  bottom: -144px;
  right: -74rem;
  font-size: 2.7rem;
}
@media (min-width: 56rem) {
.cards_item {
  width:50%;
}
}
@media (max-width: 900px) {
.cards_item {
  width: 50%;
}
}
@media (min-width: 480px) {
  .display_item2{
    display: none;
  }
  .carouselindicators, .bottom_right_detail{
    display: none;
  }
}

@media (max-width: 480px)  {
  .overview{
font-size: 3rem;
margin-top: 2rem;
  }
}
@media (max-width: 480px)  {
  .pagetitle{
    display: none;
  }
  .middlesection{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    
    }
    .table{
      width:80rem;
    }
    .piccontainer{
    display: none;
    }
  .display_item1{
    display: none;
  }
.cards {
  flex-direction: column;
}
.cardimg{
  transform: scale(1.2);
}
.crouselimg{
transform: scale(1.5);
}
.cards_item {
  width: 90%;
  margin-left: 2rem;
}
.overview h2{
  font-size: 5rem;
}
.description h2{
  font-size: 65px;
margin-bottom: 1.5rem;

}
.description{
  width: 55rem;
  margin-bottom: 2rem;
  font-size: 2.3rem;
}
.card_text {
  font-size: xx-large;
}
.ton{
  font-size: 4rem;
}

.card_content {
  font-size: 2.2rem;
  line-height: revert;

}
.enquire{
  font-size: 1.6rem;
}
.pricep{
    font-size: 4rem;
  font-weight: 600;
}
.card_title{
  font-size: 4rem;
}
.Title{
  font-size: 4rem;
}
.doubtbtn{
  font-size: 2rem;
}
.button{
  font-size: 2.3rem;
  border-radius: 100px;
}
}

@media (max-width: 300px) {
.pagetitle{
  display: none;
    }
    .table{
      width: 52rem;
    }
    .description{
      width: 60rem;
    }
}
@media (max-width: 700px) {
.middlesection{
  font-size: 1.2rem;
}
}
@media (max-width: 400px) {
  .bottom_right_detail{
    right: -58rem;
  }
  .carouselindicators{
    right: -58rem;
  }
}
