.Product{
  position: relative;
}
.display{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
  list-style: none;
}
.displaycol{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px;
  list-style: none;
}
.Product_Quantity {
  color: #000000;
 font-weight: bolder;
  margin-top: 10px;
}
.Product_Title{
    color: #24A1FD;
    display: flex;
    justify-content: space-between;
}
.bottom_right_detail{
  background-color: rgba(132, 131, 142, 0.1);
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.Title{
  /* margin-left: 4rem; */
  color: rgb(0, 67, 149);
  }
.Product_detail{
  padding: 10px 10px;
  font-size: 1rem;
}
.wishlist{
	height: 25px;
	width: 25px;
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wishlist:hover{
color: red;
}

.Product_Price{
    color: #18C749;
    font-weight: bold;
    font-size: 20px;
}


